.carousel-episodios {
  width: 110%;
}

.carousel-episodios .swiper-wrapper {
  justify-content: flex-start;
}

.carousel-episodios .swiper-slide {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  transform-style: preserve-3d;
}

.carousel-episodios .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-episodios .swiper-slide-shadow-left,
.carousel-episodios .swiper-slide-shadow-right {
  display: none;
}

@media (max-width: 500px) {
  .swiper-episodios {
    width: 100%;
  }
  .carousel-episodios {
    width: 200%;
  }
}
