.homepage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
}

.background-test-home {
  background-image: url('/images/fondo_main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-size: 100% auto;
}

.title_and_quote_container_home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0;
  padding: 0;
}

.highlight-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 0 10% 4%;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
[data-aos='flip-up'].highlight-container {
  opacity: 1;
}

.highlight-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(36, 36, 36, 0.9);
  border-radius: 10px;
  width: 100%;
  height: 15rem;
  padding: 1rem;
  box-sizing: border-box;
}

section[class^='carousel-'] {
  display: flex;
  align-items: center;
  margin: auto auto;
  margin-bottom: 10rem;
  gap: 4rem;
  width: 90%;
}

.carousel-episodios-section {
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 500px) {
  .title_and_quote_container_home {
    width: 97%;
    margin: 1% 0 0 1%;
    padding: 0;
    height: 30%;
  }
  .highlight-container {
    width: 90%;
    margin: 0 5% 10% 5%;
  }

  section[class^='carousel-'] {
    flex-direction: column;
    gap: 1.5rem;
    width: calc(100% - 1rem);
    margin: 2rem 0.5rem;
  }

  .highlight-text {
    height: 10rem;
    margin-bottom: 0rem;
  }
  .background-test-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 235% auto;
    background-position: 100% 70%;
    height: 100vh;
  }

  section[class^='carousel-'] {
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
    width: 95%;
  }

  .carousel-personajes-section > *:first-child {
    order: 2;
  }

  .carousel-personajes-section > *:last-child {
    order: 1;
  }
}
