.typewriter-wrapper {
  display: flex;
  position: absolute;
  padding: 0;
  width: 90%;
  height: 80%;
  margin: 0%;
}

.typewriter-measure {
  visibility: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: block;
}

.typewriter {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 100%;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  line-height: 1.4;
}

.cursor {
  content: '';
  display: inline-block;
  position: relative;
  background-image: url('/images/portal-rick-and-morty.gif');
  background-size: cover;
  background-repeat: no-repeat;
  visibility: visible;
  top: 3px;
  width: 26px;
  height: 26px;
  margin: 0 0 0 -2px;
}

@media (max-width: 500px) {
  .typewriter {
    font-size: 1rem;
  }
  .cursor {
    width: 14px;
    height: 14px;
  }
}
