html,
body {
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #548458;
  width: 100%;
}
.header {
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  background: none;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .navbar {
    display: none;
  }
  .header {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar {
    display: block;
  }
  .header {
    display: none;
  }
}
